<!--ABOUT-->
<div id="content">
    <div class="defaultBody">
		<h2>About Us</h2>
		
		<div id='aboutDiv'>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam justo nec massa eleifend, 
			a tristique elit tempus. Aenean dapibus felis volutpat, consequat purus in, dignissim nisi. Mauris quis tristique dui. Praesent rutrum condimentum metus ac porttitor. Nunc in turpis tempus, sollicitudin neque non, rhoncus eros. Maecenas vitae dictum arcu. Proin neque tellus, egestas quis leo eu, commodo hendrerit erat. Nunc egestas lorem placerat, dignissim nulla quis, accumsan metus.
			</p><br>
			<p>
			Suspendisse mollis dapibus diam vitae varius. Suspendisse eu metus eu nunc tristique ullamcorper et at ipsum. Curabitur rhoncus sed leo quis tincidunt. Nullam eget volutpat dui. Proin consequat sapien ultrices, iaculis nulla in, porttitor metus. Praesent dictum sodales turpis ac malesuada. Nam varius vulputate tortor a finibus. Vivamus felis nisl, vestibulum et dapibus vel, imperdiet sed lectus. Proin lorem velit, malesuada eget faucibus at, interdum non tortor. Sed ac lacus id dui imperdiet consequat vel eget odio. Etiam pharetra tempus magna vel auctor. Sed faucibus molestie posuere. Sed suscipit eget urna sed elementum. Donec convallis porta magna, quis accumsan velit pharetra sit amet. Vestibulum auctor tellus pretium ante interdum, sit amet interdum sem condimentum. Pellentesque neque dui, consequat ac sapien vel, pellentesque placerat purus.
			</p>
		</div>
    
    </div>
</div>