<!--contact-us/feedback-->
<div id="content">
    <div class="defaultBody">
	<div id="feedbackForm">
	<h2>Share feedback</h2>
    <form action="/contact-us" method="POST">
        <textarea name="data" required></textarea><br>
        Name: <input type="text" name="name"><br>
        <input type="submit" value="send">
    </form>
	</div>
    
    <h2>Recent Feedback</h2>
    {{#each feedbacks as |f|}}
        <div class="feedbackPost">
            <div id="postBody">{{p.body}}</div><br>
			"{{f.feedback}}" <br><br>
			<div style='text-align:right'>- {{f.name}}</div>
        </div>
    {{/each}}
    
    </div>

</div>